body, html {
	height: 100%;
	margin: 0;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h3 {
	margin-top: 0px;
}

.login-form {
	width: 33.33333333%;
	margin: 0 auto;
}

.plus-sign {
	margin-top: 1.5em;
}

.glyphicon {
	margin: right;
}
.task-div {
	/*background-color: black;*/
	/*border-right: 1px black solid;*/
	height: 100%;
}

.center-column {
	border-right: 1px black solid;
	border-left: 1px black solid;
}

.right-div {
	/*background-color: blue;*/
	/*border: 1px red solid;*/
	height: 100%;
}

.main-logo {
	max-height: 100%;
	padding: 0;
}